ion-content {
  --background: none;
  background: url('/assets/logo-transparent-png.png') no-repeat center center fixed;
  background-size: 70%;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.login-container {
  background-color: transparent;
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 400px;
}

ion-item {
  --background: rgba(255, 255, 255, 0.2); // translucent white
  --border-radius: 12px;
  --padding-start: 12px;
  --inner-padding-end: 12px;
  margin: 12px 0;
  backdrop-filter: blur(8px); // glassmorphism effect
  border: none;
  animation: fadeSlideIn 2s ease-out forwards;
}

ion-input {
  text-align: center;
  color: #fff;
}

ion-label {
  width: 100%;
  text-align: center;
  justify-content: center;
  color: #fff;
}

ion-button.sign-in-btn::part(native) {
  border-radius: 12px;
  padding: 12px 24px;
  transition: all 0.3s ease;
  animation: fadeSlideIn 2s ease-out forwards;
  opacity: 0;
}

ion-button.sign-in-btn:hover::part(native) {
  background: rgba(0, 123, 255, 0.85);
  box-shadow: 0 6px 20px rgba(0, 123, 255, 0.4);
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
